#Hero {
  margin-top: 2.5rem;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.hero-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
}

.hero-name {
  display: flex;
  flex-direction: column;
}

.hero-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}

.hero-name > :nth-child(2) {
  color: var(--blue);
  font-weight: bold;
  font-size: 3rem;
}

.hero-name > :nth-child(3) {
  font-weight: 100;
  font-size: 14px;
  color: var(--gray);
  margin-top: 10px;
}

.hero-icons {
  margin-top: 2rem;
  padding: 1.89rem;
  display: flex;
  gap: 4rem;
}

.hero-icons > * {
  transform: scale(4);
  color: var(--blue);
}

@media screen and (max-width: 700px) {
  #Hero {
    margin-top: 8rem;
    flex-direction: column;
    height: fit-content;
    gap: 0rem;
    /* margin-bottom: -5rem; */
  }

  .hero-right {
    height: fit-content;
    /* align-self: self-start; */
  }
}

@media screen and (max-width: 400) {
  .hero-right {
    transform: scale(0.6);
  }
}
